<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add New Crew</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'crew_tracker/style.css' %}">
    </head>
    <body>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7 textBox">
                <h2>ENTER CREWMAN DETAILS</h2>
                    <form action="{% url 'crew_tracker:create_crewman' %}" method="post">

                        {% csrf_token %}
                        {{form.as_p}}
                        <input type = 'submit' value='Submit'>
                    </form>

            <br />
                <h4><a href="{% url 'crew_tracker:ship_index' %}">Return to Ship Index</a></h4>
                <h4><a href="{% url 'crew_tracker:home' %}">HOME</a></h4>
            </div>
            <div class="col-3"></div>

        </div>
        </div>
    </body>
</html>