<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Starfleet Crew Tracker</title>
          {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'crew_tracker/style.css' %}">
    </head>
    <body>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-7 textBox">
                {% if ship_list %}
                <h1> ALL SHIPS</h1>
                <ul>
                    {% for ship in ship_list %}
                    <li><h2><a href="{% url 'crew_tracker:ship_details' ship.id %}" >{{ship.name}}</a></h2></li>
                    {% endfor %}
                </ul>
                {% else %}
                <h3> No ships found.</h3>
                {% endif %}
                    <h4><a href="{% url 'crew_tracker:create_ship' %}">ADD MORE SHIPS</a></h4>
                    <h4><a href="{% url 'crew_tracker:create_crewman' %}">ENLIST CREWMEN</a></h4>
                    <h4><a href="{% url 'crew_tracker:home' %}">HOME</a></h4>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </body>
</html>