<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ship.name}}</title>
          {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'crew_tracker/style.css' %}">
    </head>
    <body>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-7 textBox">
                <h1>NAME: {{ship.name}}</h1>
                <h3>CLASSIFICATION: {{ship.ship_class}} Class</h3>
                <h3>CAPTAIN: {% for crew in ship.crewman_set.all %}
                {% if crew.position == 'Captain' %}
                {{crew.name}}
                {% endif %}
                {% endfor %}
                </h3>
                <h4>CREW COMPLIMENT: {{ship.crewman_set.count}} OF {{ship.ship_class.crew_requirement}}</h4>
                <ul>
                    {% for crew in ship.crewman_set.all %}
                    {% if crew.position != 'Captain' %}
                    <h4>{{crew.position}} : {{crew.rank}} {{crew.name}}</h4>
                    {% endif %}
                    {% endfor %}
                </ul>
                <br />
                <h4><a href="{% url 'crew_tracker:assign_crewman' ship.id %}">ADD CREW TO SHIP</a></h4>
                <h4> <a href="{% url 'crew_tracker:ship_index' %}">BACK TO SHIP INDEX</a></h4>
                <h4><a href="{% url 'crew_tracker:home' %}">HOME</a></h4>
            </div>
            <div class="col-3"></div>
        </div>
        </div>
    </body>
</html>